[submodule "src/qnetio"]
	path = src/qnetio
	url = git://git.bolloretelecom.eu/qnetio.git
[submodule "src/qxmpp"]
	path = src/qxmpp
	url = git://git.bolloretelecom.eu/qxmpp.git
[submodule "src/qdjango"]
	path = src/qdjango
	url = git://git.bolloretelecom.eu/qdjango.git
