[submodule "src/3rdparty/qxmpp"]
	path = src/3rdparty/qxmpp
	url = https://code.google.com/p/qxmpp/
[submodule "src/3rdparty/qdjango"]
	path = src/3rdparty/qdjango
	url = https://code.google.com/p/qdjango/
[submodule "src/qxmpp-extra"]
	path = src/qxmpp-extra
	url = git://git.wifirst.net/qxmpp-extra.git
