Source: wilink
Section: net
Priority: optional
Maintainer: Jeremy Lainé <jeremy.laine@bolloretelecom.eu>
Standards-Version: 3.8.1
Build-Depends: cdbs, debhelper (>= 5), cmake, libqt4-dev, libxss-dev

Package: wilink
Architecture: any
Depends: ${shlibs:Depends}
Description: Utilities for Wifirst services
 This package provides a set of utilities to interact with the Wifirst
 services.

