tr.local {
  background-color: #dbdbdb;
}
tr.remote {
  background-color: #b6d4ff;
}
td.from {
  padding-left: 8px;
  font-size: small;
}
td.time {
  padding-right: 8px;
  font-size: small;
}
td.body {
  padding: 2px;
}
