.local {
  background-color: #dbdbdb;
}
.remote {
  background-color: #b6d4ff;
}
td.line {
  font-size: small;
}
td.from {
  padding-left: 8px;
  font-size: small;
  font-weight: bold;
}
td.time {
  padding: 0px 8px;
  font-size: small;
}
td.body {
  padding: 3px 5px 2px 5px;
}
