[Desktop Entry]
Name=wiLink
GenericName=Internet Messenger
GenericName[af]=Internetboodskapper
GenericName[ar]=مرسال إنترنت
GenericName[be@latin]=Internet-kamunikatar
GenericName[bg]=Бързи съобщения
GenericName[bn]=ইন্টারনেট বার্তাবাহক
GenericName[ca]=Missatger d'Internet
GenericName[ca@valencia]=Missatger d'Internet
GenericName[cs]=Internet Messenger
GenericName[da]=Internet beskeder
GenericName[de]=Internet-Sofortnachrichtendienst
GenericName[dz]=ཨིན་ཊར་ནེཊི་འཕྲིན་སྐྱེལ་པ།
GenericName[el]=Αποστολέας μηνυμάτων διαδικτύου
GenericName[en_GB]=Internet Messenger
GenericName[eo]=Interreta Mesaĝilo
GenericName[es]=Cliente de mensajería de Internet
GenericName[et]=Interneti sõnumivahetus
GenericName[eu]=Internet-Mezularia
GenericName[fa]=پیغام‌رسان اینترنتی
GenericName[fi]=Pikaviestin
GenericName[fr]=Messagerie internet
GenericName[gl]=Mensaxería na Internet
GenericName[gu]=Internet Messenger
GenericName[he]=למסרים באינטרנט
GenericName[hu]=Azonnali üzenetküldés
GenericName[id]=Pengirim Pesan Internet
GenericName[it]=Internet Messenger
GenericName[ja]=インターネット・メッセンジャー
GenericName[km]=កម្មវិធី​ផ្ញើសារ​អ៊ីនធឺណិត
GenericName[kn]=ಇಂಟರ್ನೆಟ್ ಮೆಸ್ಸೆಂಜರ್ 
GenericName[ko]=인터넷 메신저
GenericName[ku]=Peyamnêra înternetê
GenericName[lt]=Pokalbiai internete
GenericName[mk]=Инстант пораки
GenericName[mn]=Интернет Мессенжер
GenericName[mr]=इंटरनेट मेसेंजर
GenericName[nb]=Lynmeldingsklient
GenericName[nl]=Expresberichten
GenericName[nn]=Lynmeldingsklient
GenericName[or]=ଇଣ୍ଟରନେଟ ସଂଦେଶବାହାକ
GenericName[pa]=ਇੰਟਰਨੈਟ ਮੈਸੰਜ਼ਰ
GenericName[pl]=Komunikator internetowy
GenericName[ps]=د انترنت زری
GenericName[pt]=Mensageiro Internet
GenericName[pt_BR]=Mensageiro da Internet
GenericName[ro]=Mesagerie instant
GenericName[ru]=Клиент обмена мгновенными сообщениями
GenericName[si]=අන්තර්ජාල පණිවිඩකරු
GenericName[sk]=Internetový komunikátor
GenericName[sl]=Spletni sel
GenericName[sq]=Lajmësjellës Internet
GenericName[sr]=Интернет писмоноша
GenericName[sr@latin]=Internet pismonoša
GenericName[sv]=Meddelandeklient
GenericName[ta]=இணையதள தூதுவர்
GenericName[te]=ఇంటర్నెట్ మెసెంజర్
GenericName[th]=โปรแกรมข้อความด่วน
GenericName[tr]=İnternet Mesajlaşma Aracı
GenericName[uk]=Спілкування миттєвими повідомленнями
GenericName[ur]=ا نٹرنیٹ میسینجر
GenericName[vi]=Tin Nhắn
GenericName[zh_CN]=互联网通讯程序
GenericName[zh_HK]=網絡即時通
GenericName[zh_TW]=網路即時通
Exec=wiLink
Icon=wiLink
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
