/* avoid border around widgets on OS X */
QStatusBar::item {
    border: none;
}

QSoundMeterBar {
    border: 1px solid gray;
    border-radius: 3px;
    background: white;
    padding: 1px;
    width: 32px;
}

QSoundMeterBar::chunk {
    background: #46a;
}

/* splitters */
QSplitter::handle {
    background-color: #6395e3;
}

QSplitter::handle:horizontal {
    width: 2px;
}

QSplitter::handle:vertical {
    height: 2px;
}

QSplitter::handle:pressed {
    background-color: #97b6e6;
}

/* left toolbar */
QToolBar {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                      stop:0 #6ea1f1, stop:1 #567dbc);
    border: none;
}

QToolButton {
    border: none;
    color: #fff;
    margin: 0px 3px;
}

QToolButton:hover {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                      stop:0 rgba(255, 255, 255, 0), stop: 0.5 rgba(255, 255, 255, 50), stop:1 rgb(255, 255, 255, 0));
    border-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                  stop:0 rgba(255, 255, 255, 0), stop: 0.5 rgba(255, 255, 255, 255), stop:1 rgb(255, 255, 255, 0));
    border-style: solid;
    border-width: 0px 1px;
}

QToolButton:pressed {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                      stop:0 rgba(255, 255, 255, 150), stop: 0.5 rgba(255, 255, 255, 50), stop:1 rgb(255, 255, 255, 150));
}

/* panel header */
QWidget#panel-header, QLabel#panel-icon, QLabel#panel-title, QWidget#panel-header QToolBar {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                      stop:0 #9bbdf4, stop:1 #90acd8);
    border: none;
    color: #fff;
}

QLabel#panel-icon {
    padding: 0px 8px;
}

QLabel#panel-help {
    border-color: #fff;
    border-style: solid;
    border-width: 1px 0px;
    background-color: #b0e2ff;
    padding: 10px;
}

/* chat rooms */
QListView#participant-list::item {
    height: 55px;
    width: 64px;
    color: #999;
    border: 1px solid transparent;
}

QListView#participant-list::item:hover {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                      stop:0 rgba(176,226,255,0), stop:1 rgba(176,226,255,255));
    border-color: #b0e2ff;
    color: #000;
}

QListView#participant-list::item:selected, QListView#participant-list::item:selected:active {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                      stop:0 rgba(176,226,255,0), stop:1 rgba(176,226,255,255));
    color: #000;
}
